<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>523960482922-h9epbrii26io61vr7c5kemd4tc8ucaeh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.523960482922-h9epbrii26io61vr7c5kemd4tc8ucaeh</string>
	<key>API_KEY</key>
	<string>AIzaSyBmscidAY0AegIlFXRS0etS9_OxJ8wu7Ic</string>
	<key>GCM_SENDER_ID</key>
	<string>523960482922</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.basiccrud</string>
	<key>PROJECT_ID</key>
	<string>basiccrud-f5a5e</string>
	<key>STORAGE_BUCKET</key>
	<string>basiccrud-f5a5e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:523960482922:ios:aeeb5fdcc41f9558cf9e13</string>
</dict>
</plist>